<html xmlns:th="http://www.thymeleaf.org">
	<head >
		<title>CRUD PRODUITS</title>
	</head>
	<body>
		<h1>---- CRUD PRODUITS ----</h1>
		<br />
		<a href="produit/ajout"/>Ajouter un produit</a>
		<br /><br />
		<table>
			<thead class="thead-dark">
			    <tr>
			      <th scope="col">Nom</th>
			      <th scope="col">Prix</th>	
			      <th scope="col">Fournisseur</th>	
			      <th scope="col">Actions</th>			
			   	</tr>
			 </thead>
				<tr th:each="produit: ${produits}">
					<td>[[${ produit.modele }]]</td>
					<td> [[${ produit.prix }]]</td>
					<td> [[${ produit.fournisseur.societe }]]</td>
					<td> <a th:href="@{produit/supprimer/{id}(id=${produit.id})}"/>Supprimer</a> <a th:href="@{produit/editer/{id}(id=${produit.id})}"/>Modifier</a></td>
				</tr>
		</table>
	</body>
</html>