<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<head>
		<!-- <meta http-equiv="Content-Type" content="text/html charset=UTF-8" /> -->
		<title>Loup-Garou | Personnages</title>
		<meta name="Description" content= "Le meilleur jeu en ligne du monde.">
		<link rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
				crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/bouton.css" /><link rel="stylesheet" type="text/css" href="/assets/css/navbar.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/plateau.css" />
	</head>
	<body>  
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="accueil.html">ACCUEIL</a>
			<img class="avatar" src= "assets/img/villageois-old.jpg">
			<!-- Bouton "hamburger" qui s'active si l'écran est trop petit -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- Menu ï¿½ proprement parler -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<div class="col"> 		
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="personnages.html">Gestion des Personnages</a></li>
						<li class="nav-item"><a class="nav-link" href="plateau.html">Jouer</a></li>
					</ul>
				</div>
				<div> 		
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="accueil.html">Retour</a></li>
						<li class="nav-item"><a class="nav-link" href="index.html">Déconnexion</a></li>
					</ul>
				</div>
			</div>
		</nav> 	
		
		<br />
		
		<header class="container">
			<div class="row justify-content-center">
				<div class="col-8 text-center">
     				<h1> PERSONNAGES </h1>
     			</div>
			</div>
  		</header> 
  		<br />
  	 	<section id = creer-personnage>
  	 		<form method="POST">
		 	<div class="container">
		 		<h2>Création d'un Personnage :</h2>
		 		<br />
		 		<div class="perso">
			 		<div class="form-group row">
				        <label for="nom" class="col-md-3 col-form-label">Nom :</label>
				        <div class="col">
				            <input type="text" class="form-control" id="addPersonnage" name="libelle" th:value="${personnage?.libelle}" />
				        </div>
			        </div>
			        <div class="form-group row">
				        <label for="nom" class="col-md-3 col-form-label">Pouvoir :</label>
				        <div class="col">
				            <select name="monIdPouvoir">
				            <option value="0">Sélectionner pouvoir1</option>
				            <option th:each="pouvoir : ${pouvoirs}"
				            th:value="${pouvoir.id}"
				            th:text="${ pouvoir.libelle}"
				       ></option>
							</select>
				        </div>
				         <label for="nom" class="col-md-3 col-form-label">Pouvoir 2 :</label>
				        <div class="col">
				            <select name="monIdPouvoir2">
				            <option value="0">Sélectionner pouvoir2</option>
				            <option th:each="pouvoir : ${pouvoirs}"
				            th:value="${pouvoir.id}"
				            th:text="${ pouvoir.libelle}">
				            </option>
							</select>
				        </div>
				         <label for="nom" class="col-md-3 col-form-label">Pouvoir 3 :</label>
				        <div class="col">
				            <select name="monIdPouvoir3">
					            <option value="0">Sélectionner pouvoir3</option>
					            <option 
						            th:each="pouvoir : ${pouvoirs}"
						            th:value="${pouvoir.id}"
					            	th:text="${ pouvoir.libelle}"></option>
							</select>
				        </div>
			        </div>
		        </div>	
		        <br /> 
		        <div class="check">
			        <div class="row">
						<div class="col  justify-content"> 
					  		<button type="submit" value="Ajouter" class="btn btn-primary btn-lg">Ajouter</button>
					  	</div>	
					  	<div class="col justify-content"> 
					  		<a class="btn btn-success btn-lg AnnulerAjoutPerso" th:href="personnages">Annuler</a>
					  		<!-- <button type="submit" value="Annuler" class="btn btn-primary btn-lg annuler" href="personnages" >Annuler</button> -->
					  	</div>	
					</div>	
				</div>		 	
	 		</div>
	 		</form>
	 	</section>

	 	<br /><br />

	 	<footer class= "container fixed-bottom text-center"> 
	 		Copyright Guivie&amp;Co &copy; 2019
	 	</footer>
	 	<script
			src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous">
	 	</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
	 	<!-- <script src="assets/js/recuperationPersonnages.js"></script> -->
	</body>
</html>