<table>
<thead>
  <tr>
    <th>ID</th>
    <th>Joueur</th>
    <th>Contenu</th>
  </tr>
</thead>
<tbody>
  <!-- <tr *ngFor="let p of personnageService.findAllAsync() | async">
      <td>{{p.libelle}}</td>
  </tr> -->
  <tr>Chat</tr>
  <div *ngFor="let c of chatService.findAllAsync() | async">
      <span>{{c.id}}</span>
      <span>{{c.joueur.username}}</span>
      <span>{{c.contenu}}</span>
  </div><br>
</tbody>
</table>
<div>
    <label>Message : </label>
    <input type="text" [(ngModel)]="message.contenu" />
</div>
<div>
    <button (click)="ajouterMessage()">Envoyer</button>
</div>
